<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reg</title>
</head>
<body>
 
    <h2>Register</h2>
    <form method="post" action="{% url 'authorization:register_view' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password1" id="password1" placeholder="password">
        <input type="password" name="password2" id="password2" placeholder="confirm password">
        <button type="submit">Register</button>

        <section>
            <a href="{% url 'authorization:login_view' %}">Login if u have an account xd</a>
        </section>
        <section>
            <a href="{% url 'index' %}">Go to shop</a>
        </section>
    
        <div>
            {% if error_message %}
                {{ error_message }}
            {% endif %}
        </div>
    </form>
    

</body>
</html>