{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="{% static 'panel/css/main.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <header class="main">
      <button>
        <a href="{% url 'authorization:logout_view' %}">HOME</a>
      </button>
      <button>
        <a href="{% url 'authorization:logout_view' %}">LOG OUT</a>
      </button>
    </header>
    update_product
    {% if product %}
        <form action="{% url 'panel:update_product' product.id %}" method="post" class="container" enctype="multipart/form-data">
        {% csrf_token %}
        {% else %}
           <form action="{% url 'panel:create_product' %}" method="post" class="container" enctype="multipart/form-data">
        {% csrf_token %}
    {% endif %}

      <a href="{% url 'panel:panel_view' %}" class="previous round">&#8249;</a>
      <h3>Adding new item</h3>


      <label for="image">Choose photo for item</label>
        {% if product %}
        <a href="{{product.image.url}}" target="_blank" class="photo-link">Current photo</a>
        {% endif %}
      <input type="file" name="image" id="upload-photo" />
      <label for="title">Title</label>
      <input type="text" value="{{ product.title }}" name="title" placeholder="Title of item" />

      <label for="manufacturer">Manufacturer</label>
      <input
        type="text"
        name="manufacturer"
        id="manufacturer"
        value="{{ product.manufacturer }}"
        placeholder="Manufacturer of item"
      />

      <label for="description">Description</label>
      <input
        type="text"
        name="description"
        id="description"
        value="{{ product.description }}"
        placeholder="Description of item"
      />

    <div class="select-wrapper">
    <label for="category">Choose a type of book:</label>

    <select name="category" id="category">
      <option value="E">E-Book</option>
      <option value="H">Hardcover</option>
      <option value="P">Paperback</option>
    </select>
    </div>
      <button type="submit">Save</button>
    </form>


  </body>
</html>
